@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?fswiss');
  src:  url('../fonts/icomoon.eot?fswiss#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?fswiss') format('truetype'),
    url('../fonts/icomoon.woff?fswiss') format('woff'),
    url('../fonts/icomoon.svg?fswiss#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e942";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-close:before {
  content: "\ea0d";
}


/*Tipo de selector {
   propiedad: valor;
   propiedad-2: valor;
} */
/*selector universal*/
/** {
  border: 1px solid red;
  margin: 10px
}*/

/*selector de etiqueta*/
/*header {
  background: blue;
}*/

/*section {
  background: purple;
}*/

/*Selector descendente*/
/*article h3 {
  color: green;
}*/

/*Selectores de clase*/

/*.title-a{
  background: yellow;
}

.title-b{
  background: salmon;
}*/

/*Selector de id*/
/*#header {
  border: 3px solid black;
}

#portada {
  border: 3px solid orange;
}

#guitarras {
  border: 3px solid brown;
}*/
/*

*{
  border: 2px solid red;
  margin: 10px 13px 5px 15px
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 13px;
  margin-bottom: 5px;
  margin: 10px;
  padding: 10px;
  padding: 10px 13px 5px 15px
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 13px;
  padding-bottom: 5px;
}

*/


body{
  font-family: 'Allerta', sans-serif;
  margin: 0;
}

table{
  width: 100%;
}

th{
  background: #273b47;
  color: white;
}

th{
  padding: 10px 20px;
  text-align: left;
}

td{
  padding: 20px;
}

table, td, th{
  border: 1px solid #273b47;
  border-collapse: collapse;
}

input, textarea{
  outline: 0;
}

input:focus, textarea:focus{
  background: lightgray;
}

.header{
  position: relative;
}

.contenedor{
  margin: auto;
  max-width: 800px;
  position: relative;
}

.background{
  background-color: #466173;
  background-image: url('../images/background.png');
  background-size: cover;
}

.button{
  border-radius: 12px;
  border: none;
  background: #fd324e;
  color: white;
  padding: 7px 12px;
  cursor: pointer;
  font-size: 18px;
  background: linear-gradient(to left, #fe344e, #ff7250);
}

.titulo{
  font-size: 70px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 15px;
  margin-top: 170px;
}

.title-a{
  font-size: 24px;
  margin-top: 0px;

}

.title-b{
  font-size: 50px;
  margin-bottom: 20px;
}

.guitarras{
  color: #1F313C;
  margin-bottom: 60px;
}

.guitarras h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
}

.portada {
  color: white;
  padding: 20px;
  height: 500px;
}

.portada button{
  margin-bottom: 70px;
}

.menu{
  font-size: 24px;
  display: inline-block;
  position: absolute;
  right: 0;
}

.menu a{
  color: white;
  text-decoration: none;
}

.menu li{
  display: inline-block;
  margin-left: 30px;
}

.menu li:before{
  content: '·';
  font-size: 40px;
  line-height: 20px;
  color: white;
}

.logotipo {
  display: inline-block;
  margin-left: 0;
}

.guitarra{
  padding: 10px;
  margin: 10px 10px 40px 10px;
  /*overflow: hidden;*/
  border: 1px solid #1F313C;
  border-radius: 8px;
}

.guitarra ol{
  padding: 0;
}

.guitarra.b{
  height: 190px;
}

.contenedor-guitarra-a{
  padding-left: 20px;
}


.contenedor-guitarra-b{
  margin-left: 370px;
  position: relative;
  bottom: 90px;
}
.derecha{
  float: right;
  position: relative;
  top: -127px
}

.izquierda{
  float: left;
  position: relative;
}

.footer{
  background: #273b47;
  padding: 50px 10px;
}

.contacto{
  display: flex;
  width: 300px;
  flex-wrap: wrap;
  align-items: center;
}

.contacto img{
  display: block;
}

.contacto strong{
  display: block;
}

.contacto a{
  color: white;
  text-decoration: none;
  margin: 10px 10px 10px 0px
}

.footer .contenedor{
  display: flex;
  justify-content: space-between;
}

.formulario{
  display: flex;
  width: 400px;
  color: white;
  padding: 50px, 10px
}

.colum1, .colum2{
  display: flex;
  flex-direction: column;
}


.colum1{
  margin-right: 15px;
}

.colum2{
    align-items: flex-start;
}

.colum2 .button{
  margin-top: 15px;
}

.intereses label{
  font-size: 12px;
}

.formulario label, .sexo, .intereses{
  margin-bottom: 10px;
}


.sexo{
  margin-top: 10px;
}


.titulo span{
  text-decoration: underline;
}

.tabla{
  margin: 50px 0;
}

.burguer-button{
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
  height: 40px;
  background: #395667;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  position: fixed;
  left: 20px;
  color: white;
  display: none;
  top: 20px;
  z-index: 3;

}

.video-demo{
  max-width: 500px;
  width: 100%;
  border: 5px solid #3c5b6e;
}

.video-demo-contenedor{
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

/**Opcional: print, screen
@media screen and (max-width: 800px) {
  body{
    background: peru;
    border:15px solid lightblue;
  }
}
**/

@media screen and (max-width: 800px) {


  /**Precios**/
  .tabla{
    margin: 50px 20px;
  }
  .tabla .contenedor{
    overflow: auto;
    border: 1px solid #273b47;
  }
  /**Precios**/

  /**Portada**/
  .titulo{
    font-size: 45;
    margin-top: 30px;
  }
  .title-a{
    font-size: 18px;
  }
  .portada{
    height: auto;
  }
  .portada .button{
    display: inline-block;
    margin-bottom: 30px;
  }
  /**Portada**/

  /**Guitarras**/

  .video-demo-contenedor{
    margin-bottom: 30px;
  }

  .guitarras{
    text-align: center;
  }

  .izquierda, .derecha{
    float: none;
    position: static;
  }

  .title-b{
    margin: 0; /*pisa todos los margin*/
  }

  .guitarra li{
    list-style: none;
  }

  .guitarra.b{
    height: auto;
  }

  .contenedor-guitarra-b{
    position: static;
    margin: 0;
  }


  .contenedor-guitarra-a{
    padding: 0;
  }

  /**Guitarras**/
}

@media screen and (max-width: 650px) {

  .header{
    text-align: center;
  }

  .logotipo{
    margin: 0;
  }

  .menu{
    position: static;
    display: block;
  }

  .menu li:first-child{
    margin: 0;
  }

  .menu ul{
    padding: 0;
  }

/**guitarras
  .video-demo{
    margin: 0 10px;
  }

  /**guitarras**/
}

@media screen and (max-width: 500px) {


  .colum2{
    align-items: stretch;
  }
  /*footer**/
  /**portada**/
  .portada .button{
    display: block;
  }

  .precios .header .logotipo{
    margin: 50px 0;
  }

  .burguer-button{
    display: block;
  }
  .portada .contenedor{
    position: static; /**posicio incial que tienen todos los elementos**/

  }
  
  .header{
    position: static;
  }
  
  .header .contenedor{
    position: static;
  }

  .menu{
    background: rgba(255, 60, 88, .8);
    position: fixed;
    left: -100%;
    width: 100%;
    top: 0;
    z-index: 2;/**en que lugar del eje z se ubica*/
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    transition: .3s;
  }

  .menu.active{
    left: 0;
  }

  .menu ul{
    flex: 1;
  }

  .menu li{
    display: block;
    margin: 0;
    padding: 8px 0;
    border-bottom: 1px solid white; /**border para abajo*/

  }

  .menu li:before{
      display: none;
  }

  /*sub-clase para el 1er elemento**/
  .menu li:first-child{
    border-top: 1px solid white;
  }

  .portada{
    text-align: center;
  }

  .titulo{
    font-size: 30px;
  }

  .title-a{
    font-size: 16px;
  }
  /**portada**/

  /**guitarras**/
  .guitarra img{
    width: 200px;
    /*height: auto;*/
  }

  .title-b{
    font-size: 30px;
  }

  .video-demo-contenedor{
    margin: 0 10px 30px 10px;
  }

  /**guitarras**/


}

@media screen and (max-width: 767px) {

  /**Footer**/

  .footer .contenedor{
    display: block;
  }

  .contacto{
    margin: 0 auto;
  }

  .formulario{
    display: block;
    margin: 0 auto;
    width: 300px;
  }

  .intereses label{
    display: block;
    font-size: 16px;
  }

  .colum1{
    margin: 0;
  }

  /*selector de atributo**/
  input[type="text"],
  input[type="email"] {
    font-size: 16px;
    padding: 5px;
  }

  input[type="radio"],
  input[type="checkbox"]{
    zoom: 1.5;
  }

  textarea{
    width: 100%;
  }

  /**Footer**/

}

video{
  width: 100%;
}

.video-responsive-contenedor{
  position: relative;
  padding-top: 56.25%; /*sirve para darle 
  alto al elemento, hicimos que un div fuera 16:9
  (1080*100)/1920 = 56.25%
  (315*100)/560 = 56.25% */
}

.video-reonsive-src{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

/**media queri para el background**/

@media screen and (-webkit-min-device-pixel-ratio: 2){
.background{
  background-image: url('../images/background2x.png');
}
}